{% extends "../base.html" %}
{% block title %}
New publication
{% endblock title %}

{% block header %}
{% include "../header/header.html" %}
{% endblock header %}

{% block content %}
<div class="new-publication-form">
    <span class="error" id="error">{{ REDIRECT_ERROR }}</span>
    <h2 class="new-publication-title">
        New publication
    </h2>
    <hr>
    <form id="new-publication-form" class="form-block" method="post" action="/new-publication-post" enctype="multipart/form-data">
        <div class="form-block-item">
            <label for="name">Name</label>
            <input id="name" name="name" type="text">
        </div>
        <div class="form-block-item">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div class="form-block-item">
            <label for="new-pub-catedories">Categories</label>
            <select name="catedories" id="new-pub-catedories" multiple>
                {% for category in categories %}
                    <option value="{{ category.Name }}">{{ category.Name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-block-item">
            <label for="new-pub-images">Images</label>
            <input multiple id="new-pub-images" name="images" type="file">
        </div>
        <div class="load-images" id="load-images">
            <!-- EXAMPLE -->
            <!-- <div class="load-image draggable" draggable="true">
                <img src="/static/img/temp/2.jpg" alt="">
            </div> -->
        </div>
        <button type="submit" class="publish-button">
            <a>
                Publish
            </a>
        </button>
    </form>
</div>



{% endblock content %}