<div class="dropdown-wrapper dropdown-wrapper-comm-menu">
    <button class="comment-menu comment-menu-dropdown">
        <a>
            <img src="/static/img/icons/dot_menu.svg" alt="">
        </a>
    </button>
    <div class="dropdown-for-btn dropdown-for-btn-comm-menu dropdown-for-btn-hide">
        <button class="dropdown-for-btn-linkBtn-item comment-hide-btn" data-comm-id="{{ comment.Id }}" data-publication-id="{{ publication.Id }}">
            <a>
                Hide
            </a>
        </button>
    </div>
</div>