{% extends "../base.html" %}
{% block title %}
New publication
{% endblock title %}

{% block left_side %}
<div class="pub-left-content">
    <span class="error"></span>
    <div class="pub-author-block">
        <button class="profile-icon">
            <a>
                <img src="{{ author.Avatar|imgOrDef }}" alt="">
            </a>
        </button>
        <div class="pub-author-right">
            <div class="pub-author-username">
                {{ author.Auth.Username }}
            </div>
            <div class="pub-author-buttons">
                <button class="pub-author-subscribe">
                    <a>Subscribe</a>
                </button>
                <form id="publication-like" class="publication-like-form">
                    <input type="hidden" name="publication-id" value="{{ publication.Id }}">
                    {% if isLike %}
                    <button id="pub-author-like" class="pub-author-like publcation-liked">
                        <a><img src="/static/img/icons/like.svg" alt=""></a>
                    </button>
                    {% else %}
                    <button id="pub-author-like" class="pub-author-like">
                        <a><img src="/static/img/icons/like.svg" alt=""></a>
                    </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="pub-description-block">
        <h2 class="pub-name">
            {{ publication.Name }}
        </h2>
        <div class="pub-description">
            {{ publication.Description }}
        </div>
    </div>
    <hr>
    <div class="pub-info">
        <div class="pub-info-categories">
            {% for category in categories %}
                <div class="pub-info-category">
                    {{ category.Name }}
                </div>
            {% endfor %}
        </div>
        <div class="pub-info-with-icons">
            <div class="pub-info-with-icons-item">
                <img src="/static/img/icons/date.svg" alt="">
                <div class="pub-info-with-icons-text">
                    {{ publication.Date }}
                </div>
            </div>
            <div class="pub-info-with-icons-item">
                <img src="/static/img/icons/star.svg" alt="">
                <div class="pub-info-with-icons-text">
                    Best...
                </div>
            </div>
            <div class="pub-info-with-icons-item">
                <img src="/static/img/icons/like.svg" alt="">
                <div class="pub-info-with-icons-text" id="publication-like-count">
                    {{ likes }}
                </div>
            </div>
        </div>
        <hr>
        <div class="publication-images mini-publication-images">
            <div class="publication-images-item">
                <img src="/static/img/temp/1.jpg" alt="">
            </div>
            <div class="publication-images-item">
                <img src="/static/img/temp/2.jpg" alt="">
            </div>
        </div>
        <div class="previuos-publication-block">
            <h3>Previuos publication</h3>
            <div class="previuos-publication-list">
                <button class="previuos-publication-item">
                    <a href="">
                        <img src="/static/img/temp/1.jpg" alt="">
                    </a>
                </button>
            </div>
        </div>
        <hr>

        <!-- COMMENTS -->
        <div class="publication-comments-block">
            <h3>Comments</h3>
            <form class="publication-comment-form" id="publication-comment-form">
                {{ CSRF_TOKEN|safe }}
                <input type="hidden" name="publication_id" value="{{ publication.Id }}">
                <textarea name="comment_text"></textarea>
                <button class="send-publication-comment">
                    Send
                </button>
            </form>
            <div class="publication-comment-list" id="publication-comment-list">
                {% for comment in comments %}
                    <!-- HIDE CLASS publication-comment-item-hidden -->
                    <div class="publication-comment-item">
                        <!-- ENABLE CLASS PCH-enable -->
                        <button class="publication-comment-item-hidden-panel">
                            <a>
                                Hidden comment. Click to show comment.
                            </a>
                        </button>
                        <div class="comment-user-info">
                            <button class="profile-icon profile-icon-comment">
                                <a>
                                    <img src="{{ comment.Author.Avatar|imgOrDef }}" alt="">
                                </a>
                            </button>
                            <div class="comment-user-username">
                                {{ comment.Author.Name }}
                            </div>
                            {% include "./pub_comm_menu.html" %}
                        </div>
                        <div class="comment-content">
                            {{ comment.Text }}
                        </div>
                        <form class="comment-footer">
                            <input type="hidden" name="comm_id" value="{{ comment.Id }}">
                            <button class="reply-button">
                                Reply
                            </button>
                            <button class="comment-open-close-reply">
                                <a>
                                    Answers
                                    <img src="/static/img/icons/expand_right.svg" alt="">
                                </a>
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock left_side %}

{% block right_side %}
<div class="separate-content-right separate-content-right-publication">
    {% include "../header/header.html" %}
    <div class="publication-images">
        {% for image in images %}
        <div class="publication-images-item">
            <img src="{{ image|imgSkipPrefix }}" alt="">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock right_side %}