<div class="dropdown-wrapper header-dropdown-wrapper">
    <button class="header-btn header-btn-dropdown-style header-btn-dropdown">
        <a href="#">Categories</a>
    </button>
    <div class="dropdown-for-btn dropdown-for-btn-hide">
        <div class="dropdown-for-btn-checkbox-item">
            <input type="checkbox" id="ctgr_PIXELART">
            <label for="ctgr_PIXELART">Pixelart</label>
        </div>
        <div class="dropdown-for-btn-checkbox-item">
            <input type="checkbox" id="ctgr_3D_CHARACTER">
            <label for="ctgr_3D_CHARACTER">3D Character</label>
        </div>
        <div class="dropdown-for-btn-checkbox-item">
            <input type="checkbox" id="ctgr_GAMEDEV">
            <label for="ctgr_GAMEDEV">Gamedev</label>
        </div>
    </div>
</div>