<div class="dropdown-wrapper header-dropdown-wrapper-profile">
    <button class="profile-icon header-btn-dropdown">
        <a>
            <img src="{{ userAvatar|imgOrDef }}" alt="">
        </a>
    </button>
    <div class="dropdown-for-btn dropdown-for-btn-profile dropdown-for-btn-hide">
        <button class="dropdown-for-btn-linkBtn-item">
            <a href="">
                Profile
            </a>
        </button>
        <button class="dropdown-for-btn-linkBtn-item">
            <a href="">
                New publication
            </a>
        </button>
    </div>
</div>