<header class="default-heder default-heder-media">
    <div class="header-center">
        {% include "profile.html" %}
        <button class="header-btn"><a href="#">Publications</a></button>
        <button class="header-btn btn-active"><a href="#">Collections</a></button>
        {% include "search.html" %}
        {% include "dropdown_buttons.html" %}
    </div>
</header>
<!-- MINI HEADER -->
<header class="default-heder mini-header">
    <div class="header-center mini-header-center">
        <div class="mini-header-side" id="mhs1">
            {% include "profile.html" %}
            <button class="header-btn"><a href="#">Publications</a></button>
            <button class="header-btn btn-active"><a href="#">Collections</a></button>
            <button class="mini-header-search-btn" id="mini-header-search-btn">
                <a href="#">
                    <img src="/static/img/icons/search.svg" alt="">
                </a>
            </button>
        </div>
        <div class="mini-header-side mini-header-side-hide" id="mhs2">
            <button class="mini-header-close-search" id="mini-header-close-search">
                <a href="#">
                    <img src="/static/img/icons/close.svg" alt="">
                </a>
            </button>
            {% include "search.html" %}
            {% include "dropdown_buttons.html" %}
        </div>
    </div>
    <button class="profile-header-back" id="profile-header-back">
        <a>
            <img src="/static/img/icons/back.svg" alt="">
        </a>
    </button>
</header>