<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- POPUP EXAMPLE -->
    <!-- <div class="popup-wrapper popup-hide" id="base_popup">
        <div class="popup">
        </div>
        <div class="popup-bg"></div>
    </div> -->
    <div class="separate-content">
        {% block left_side %}
        {% endblock left_side %}
        
        {% block right_side %}
        {% endblock right_side %}
    </div>
    {% block header %}
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}
</body>
<script src="/static/ts/bundle.js""></script>
</html>