{% extends "base.html" %}
{% block title %}
Explore
{% endblock title %}

{% block header %}
{% include "header/header.html" %}
{% endblock header %}

{% block content %}
<div class="content">
    <div class="explore-content">
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/2.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/2.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/2.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/2.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
        <div class="publication-item">
            <img src="/static/img/temp/1.jpg" alt="">
        </div>
    </div>
</div>
{% endblock content %}