$color_background: #0F1C2E;
$color_bacground1: #1A2434;
$color_bacground2: #1F2B3E;
$color_button: #1F2B3E;
$color_button_hover: #3D5A80;
$color_header_shadow: rgba(206, 232, 255, 0.2);
$color_accent_1: #1F3A5F;
$color_transparent_bg: rgba(0, 0, 0, 0.29);
$color_secondary_text: #E0E0E0;

$font_work_sans: "Work Sans", sans-serif;
$fort_chivo: "Chivo", sans-serif;
