{% extends "../base.html" %}
{% block title %}
Login
{% endblock title %}

{% block content %}
<form class="auth-panel" method="post" action="/login-post" enctype="application/x-www-form-urlencoded">
    {{ CSRF_TOKEN|safe }}
    <div class="error">{{ REDIRECT_ERROR }}</div>
    <h2 class="auth-panel-title">
        Login
    </h2>
    <hr>
    <div class="form-block form-block-auth">
        <div class="form-block-item">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
        </div>
        <div class="form-block-item">
            <label for="password">Password</label>
            <input id="password" name="password" type="text">
        </div>
    </div>
    <a href="/register" class="auth-support-link">Register</a>
    <button type="submit" class="auth-button">
        <a>
            Login
        </a>
    </button>
</form>
{% endblock content %}