{% extends "../base.html" %}
{% block title %}
Register
{% endblock title %}

{% block content %}
<form class="auth-panel" method="post" action="register-post" enctype="application/x-www-form-urlencoded">
    {{ csrf_token|safe }}
    <div class="error">{{ REDIRECT_ERROR }}</div>
    <h2 class="auth-panel-title">
        Register
    </h2>
    <hr>
    <div class="form-block form-block-auth">
        <div class="form-block-item">
            <label for="name">Name</label>
            <input id="name" name="name" type="text">
        </div>
        <div class="form-block-item">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
        </div>
        <div class="form-block-item">
            <label for="password">Password</label>
            <input id="password" name="password" type="text">
        </div>
        <div class="form-block-item">
            <label for="repeat_password">Repeat password</label>
            <input id="repeat_password" name="repeat_password" type="text">
        </div>
    </div>
    <a href="/login" class="auth-support-link">Login</a>
    <button type="submit" class="auth-button">
        <a>
            Register
        </a>
    </button>
</form>
{% endblock content %}